:root {
  --text: #ffffff;
  --textSecondary: #9ca1a3;
  --textAccent: #facd37;
  --textCta: #000000;
  --border: 1px solid #737373;

  --bg: #030712;
  --surface: #111827;
  --card: #1f2937;
  --element: #41340c;

  --accent: linear-gradient(135deg, #facd37, #ffeb99, #facd37);

  --success: #5ec65f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--bg);
  height: 100vh;
}
